# Exploratory Data Analysis

# 1) Load data

In [142]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import os
from zipfile import ZipFile

In [143]:
cwd = os.getcwd()
datadir = '/'.join(cwd.split('/')) + '/data/'
listings = datadir + 'listings.csv.zip'

In [144]:
## Read Data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
zf = ZipFile(listings) 
data = pd.read_csv(zf.open("listings.csv"),low_memory=False)

# 2) Exploratory Data Analysis

In [145]:
#Put columns into list for future inspection
ols = data.columns.tolist()

In [146]:
data.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,4.837700e+04,4.837700e+04,0.0,0.0,0.0,4.837700e+04,0.0,48356.000000,48356.000000,48377.000000,48377.000000,48377.000000,48329.000000,48336.000000,48341.000000,378.000000,48377.000000,48377.000000,4.837700e+04,48377.000000,48377.000000,4.837700e+04,4.837700e+04,48377.000000,4.837700e+04,48377.000000,48377.000000,48377.000000,48377.000000,48377.000000,48377.000000,37816.000000,37779.000000,37794.000000,37762.000000,37782.000000,37758.000000,37759.000000,48377.000000,48377.000000,48377.000000,48377.000000,38726.000000
mean,1.989344e+07,2.019091e+13,NaN,NaN,NaN,7.245815e+07,NaN,16.547130,16.547130,40.728818,-73.951264,2.854125,1.147655,1.176618,1.552636,706.515873,1.522624,7.425305,4.584336e+04,7.190338,9.467702,4.583167e+04,4.583406e+04,8.755698,4.583229e+04,5.109411,13.924075,25.522955,114.130558,24.116605,9.266408,93.867860,9.616559,9.270837,9.745352,9.750066,9.567774,9.392701,8.153482,6.460797,1.426339,0.111334,1.385109
std,1.158816e+07,1.077746e+01,NaN,NaN,NaN,8.392861e+07,NaN,98.317559,98.317559,0.054909,0.046872,1.888039,0.438552,0.756465,1.120163,529.050103,1.154523,21.645786,9.764451e+06,21.544844,37.709934,9.764451e+06,9.764451e+06,30.462981,9.764451e+06,8.298422,18.858081,30.650040,132.925062,45.896405,16.136445,8.604708,0.836168,1.081248,0.714499,0.730605,0.758144,0.915566,39.758248,38.928340,6.233087,0.937107,1.705862
min,3.647000e+03,2.019091e+13,NaN,NaN,NaN,2.438000e+03,NaN,0.000000,0.000000,40.499790,-74.244420,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,9.699559e+06,2.019091e+13,NaN,NaN,NaN,8.288419e+06,NaN,1.000000,1.000000,40.689710,-73.982830,2.000000,1.000000,1.000000,1.000000,350.000000,1.000000,1.000000,2.900000e+01,1.000000,2.000000,2.800000e+01,2.800000e+01,1.300000,2.800000e+01,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,92.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.190000
50%,2.032264e+07,2.019091e+13,NaN,NaN,NaN,3.306767e+07,NaN,1.000000,1.000000,40.722890,-73.955140,2.000000,1.000000,1.000000,1.000000,700.000000,1.000000,2.000000,1.124000e+03,2.000000,3.000000,3.650000e+02,3.650000e+02,2.700000,3.650000e+02,0.000000,2.000000,8.000000,47.000000,5.000000,2.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,1.000000,0.000000,0.000000,0.730000
75%,3.034355e+07,2.019091e+13,NaN,NaN,NaN,1.170889e+08,NaN,2.000000,2.000000,40.763150,-73.934800,4.000000,1.000000,1.000000,2.000000,987.500000,2.000000,5.000000,1.125000e+03,5.000000,5.000000,1.125000e+03,1.125000e+03,5.000000,1.125000e+03,7.000000,24.000000,50.000000,252.000000,25.000000,11.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,1.000000,1.000000,0.000000,2.040000
max,3.856808e+07,2.019091e+13,NaN,NaN,NaN,2.941850e+08,NaN,1611.000000,1611.000000,40.915300,-73.712990,22.000000,15.500000,21.000000,40.000000,3700.000000,16.000000,1250.000000,2.147484e+09,1250.000000,3456.000000,2.147484e+09,2.147484e+09,1794.200000,2.147484e+09,30.000000,60.000000,90.000000,365.000000,654.000000,329.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,387.000000,380.000000,112.000000,23.000000,67.600000

In [147]:
null_counts = data.isna().sum()
print("Rows:",data.shape[0]," Columns:",data.shape[1])
print("amount of null vals in each column")
print(null_counts.iloc[null_counts.nonzero()[0]])

Rows: 48377  Columns: 106
amount of null vals in each column
name                              17
summary                         2053
space                          13672
description                      840
neighborhood_overview          16946
notes                          28312
transit                        16778
access                         21850
interaction                    19695
house_rules                    18688
thumbnail_url                  48377
medium_url                     48377
xl_picture_url                 48377
host_name                         22
host_since                        21
host_location                    175
host_about                     18775
host_response_time             16416
host_response_rate             16416
host_acceptance_rate           48377
host_is_superhost                 21
host_thumbnail_url                21
host_picture_url                  21
host_neighbourhood              6232
host_listings_count               21
host_total_listings_count         21
host_has_profile_pic              21
host_identity_verified            21
neighbourhood                     12
city                              68
state                              3
zipcode                          471
market                           102
bathrooms                         48
bedrooms                          41
beds                              36
square_feet                    47999
weekly_price                   42625
monthly_price                  43376
security_deposit               16924
cleaning_fee                   10234
first_review                    9651
last_review                     9651
review_scores_rating           10561
review_scores_accuracy         10598
review_scores_cleanliness      10583
review_scores_checkin          10615
review_scores_communication    10595
review_scores_location         10619
review_scores_value            10618
license                        48356
jurisdiction_names             48366
reviews_per_month               9651
dtype: int64

In [148]:
# Let's check how many columns have missing vals
for col in list(data.columns):
    null_values = data[col].isnull().sum()
    null_over_rows = round((null_values/data.shape[0])*100, 2)
    # print only columns with null values
    if null_over_rows > 0:
        print("The column {} has {} null values, this represents {}% of the total rows".format(col,\
                                                                                               null_values, \
                                                                                             null_over_rows))

The column name has 17 null values, this represents 0.04% of the total rows
The column summary has 2053 null values, this represents 4.24% of the total rows
The column space has 13672 null values, this represents 28.26% of the total rows
The column description has 840 null values, this represents 1.74% of the total rows
The column neighborhood_overview has 16946 null values, this represents 35.03% of the total rows
The column notes has 28312 null values, this represents 58.52% of the total rows
The column transit has 16778 null values, this represents 34.68% of the total rows
The column access has 21850 null values, this represents 45.17% of the total rows
The column interaction has 19695 null values, this represents 40.71% of the total rows
The column house_rules has 18688 null values, this represents 38.63% of the total rows
The column thumbnail_url has 48377 null values, this represents 100.0% of the total rows
The column medium_url has 48377 null values, this represents 100.0% of the total rows
The column xl_picture_url has 48377 null values, this represents 100.0% of the total rows
The column host_name has 22 null values, this represents 0.05% of the total rows
The column host_since has 21 null values, this represents 0.04% of the total rows
The column host_location has 175 null values, this represents 0.36% of the total rows
The column host_about has 18775 null values, this represents 38.81% of the total rows
The column host_response_time has 16416 null values, this represents 33.93% of the total rows
The column host_response_rate has 16416 null values, this represents 33.93% of the total rows
The column host_acceptance_rate has 48377 null values, this represents 100.0% of the total rows
The column host_is_superhost has 21 null values, this represents 0.04% of the total rows
The column host_thumbnail_url has 21 null values, this represents 0.04% of the total rows
The column host_picture_url has 21 null values, this represents 0.04% of the total rows
The column host_neighbourhood has 6232 null values, this represents 12.88% of the total rows
The column host_listings_count has 21 null values, this represents 0.04% of the total rows
The column host_total_listings_count has 21 null values, this represents 0.04% of the total rows
The column host_has_profile_pic has 21 null values, this represents 0.04% of the total rows
The column host_identity_verified has 21 null values, this represents 0.04% of the total rows
The column neighbourhood has 12 null values, this represents 0.02% of the total rows
The column city has 68 null values, this represents 0.14% of the total rows
The column state has 3 null values, this represents 0.01% of the total rows
The column zipcode has 471 null values, this represents 0.97% of the total rows
The column market has 102 null values, this represents 0.21% of the total rows
The column bathrooms has 48 null values, this represents 0.1% of the total rows
The column bedrooms has 41 null values, this represents 0.08% of the total rows
The column beds has 36 null values, this represents 0.07% of the total rows
The column square_feet has 47999 null values, this represents 99.22% of the total rows
The column weekly_price has 42625 null values, this represents 88.11% of the total rows
The column monthly_price has 43376 null values, this represents 89.66% of the total rows
The column security_deposit has 16924 null values, this represents 34.98% of the total rows
The column cleaning_fee has 10234 null values, this represents 21.15% of the total rows
The column first_review has 9651 null values, this represents 19.95% of the total rows
The column last_review has 9651 null values, this represents 19.95% of the total rows
The column review_scores_rating has 10561 null values, this represents 21.83% of the total rows
The column review_scores_accuracy has 10598 null values, this represents 21.91% of the total rows
The column review_scores_cleanliness has 10583 null values, this represents 21.88% of the total rows
The column review_scores_checkin has 10615 null values, this represents 21.94% of the total rows
The column review_scores_communication has 10595 null values, this represents 21.9% of the total rows
The column review_scores_location has 10619 null values, this represents 21.95% of the total rows
The column review_scores_value has 10618 null values, this represents 21.95% of the total rows
The column license has 48356 null values, this represents 99.96% of the total rows
The column jurisdiction_names has 48366 null values, this represents 99.98% of the total rows
The column reviews_per_month has 9651 null values, this represents 19.95% of the total rows

In [149]:
int_types = ["int", "int8", "int16", "int32", "int64", "float"]
int_columns = data.select_dtypes(include=int_types)
nr_int_columns = len(int_columns.columns)
int_over_columns = round((nr_int_columns/data.shape[1])*100, 2)
print("We have a total of {} numerical columns in the DF. This is roughly {}% of all columns.".format(nr_int_columns,\
                                                      int_over_columns))

We have a total of 43 numerical columns in the DF. This is roughly 40.57% of all columns.

In [150]:
# let's see how many columns are categorical
cat_columns = data.select_dtypes(exclude=int_types)
nr_cat_columns = len(cat_columns.columns)
cat_over_columns = round((nr_cat_columns/data.shape[1])*100, 2)
print("We have a total of {} categorical columns in the DF. This is roughly {}% of all columns.".format(nr_cat_columns,\
                                                                                                       cat_over_columns))

We have a total of 63 categorical columns in the DF. This is roughly 59.43% of all columns.

In [151]:
beds = data[["beds","price"]]
beds = beds.groupby(["beds"]).mean()
beds.sort_values('price',inplace=True, ascending= False)
beds.plot(kind='bar')
plt.title("Average Price by Bed Count")
plt.ylabel('price')
plt.xlabel('beds')
plt.xticks(rotation=70)

DataError: No numeric types to aggregate

In [ ]:
subset = data[["neighbourhood_group_cleansed","price"]]
subset = subset.groupby(['neighbourhood_group_cleansed']).mean()
subset.sort_values('price',inplace=True, ascending= False)
subset.plot(kind='bar')
plt.title("Average Price by Neighborhood")
plt.ylabel('price')
plt.xlabel('neighborhood')
plt.xticks(rotation=70)

# 2) Cleaning data

Choosing the columns will take some time and be one of the most time-consuming parts. So far, I have discareded columns that a)dont make sense for the prediction (like urls, id's etc) b)have too many nans c)have too many different categories (leads to a explosion in number of columns)

Let's start by removing columns that won't help us with our model.

In [152]:
## Remove useless columns
data = data.drop(["listing_url","scrape_id","last_scraped","name","summary","space","description",\
                  "experiences_offered","neighborhood_overview","notes","transit","access","interaction", \
                 "house_rules","thumbnail_url","medium_url","picture_url","xl_picture_url","host_url","host_name", \
                 "host_about","host_thumbnail_url","host_picture_url",],axis = 1)
data.head(3)

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3647,4632,2008-11-25,"New York, New York, United States",a few days or more,0%,NaN,f,Harlem,1.0,1.0,"['email', 'phone', 'google', 'reviews', 'jumio...",t,t,"New York, NY, United States",Harlem,Harlem,Manhattan,New York,NY,10027,New York,"New York, NY",US,United States,40.80902,-73.94190,t,Apartment,Private room,2,1.0,1.0,1.0,Pull-out Sofa,"{""Cable TV"",Internet,Wifi,""Air conditioning"",K...",NaN,$150.00,NaN,NaN,$200.00,$75.00,2,$20.00,3,7,3,3,7,7,3.0,7.0,37 months ago,t,30,60,90,365,2019-09-13,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,0,1,0,NaN
1,3831,4869,2008-12-07,"New York, New York, United States",within an hour,92%,NaN,f,Clinton Hill,1.0,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,"Brooklyn, NY, United States",Brooklyn,Clinton Hill,Brooklyn,Brooklyn,NY,11238,New York,"Brooklyn, NY",US,United States,40.68514,-73.95976,t,Guest suite,Entire home/apt,3,1.0,1.0,4.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",500.0,$89.00,$575.00,"$2,100.00",$500.00,NaN,1,$0.00,1,730,1,1,730,730,1.0,730.0,3 days ago,t,1,3,8,192,2019-09-13,279,67,2014-09-30,2019-08-29,90.0,9.0,9.0,10.0,9.0,10.0,9.0,f,NaN,NaN,f,f,moderate,f,f,1,1,0,0,4.62
2,5022,7192,2009-01-29,"Miami, Florida, United States",NaN,NaN,NaN,f,East Harlem,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"New York, NY, United States",East Harlem,East Harlem,Manhattan,New York,NY,10029,New York,"New York, NY",US,United States,40.79851,-73.94399,t,Apartment,Entire home/apt,1,1.0,NaN,1.0,Real Bed,"{Internet,Wifi,""Air conditioning"",Kitchen,Elev...",NaN,$80.00,$600.00,"$1,600.00",$100.00,$80.00,1,$20.00,10,120,10,10,120,120,10.0,120.0,6 months ago,t,0,0,0,0,2019-09-13,9,2,2012-03-20,2018-11-19,93.0,10.0,9.0,10.0,10.0,9.0,10.0,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,1,0,0,0.10

From initial analysis, some of the listings seemed to be outside of NY. The city and zip codes are consistent with being in NY but let's remove them for accuracy.

In [153]:
data['state'] = data['state'].str.upper() 
print("Before:",data.shape[0])
data = data[data['state'] == "NY"]
print("After:",data.shape[0])

Before: 48377
After: 48369

In [154]:
data['market'] = data['market'].str.upper() 
print("Before:",data.shape[0])
data = data[data['market'] == "NEW YORK"]
print("After:",data.shape[0])

Before: 48369
After: 48237

Some columns have binary values that are "T" or "F". We will encode "T" to be 1 and "F" to be 0.

In [155]:
data.host_identity_verified.value_counts()

f    25267
t    22949
Name: host_identity_verified, dtype: int64

In [157]:
unique = data.nunique()
binary = unique[unique  == 2].index.tolist()
print("These columns are binary",binary)

for col in binary:
    data[col] = data[col].replace({'t':1,'f':0})

These columns are binary ['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'is_location_exact', 'instant_bookable', 'require_guest_profile_picture', 'require_guest_phone_verification']

In [158]:
data.head(2)

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3647,4632,2008-11-25,"New York, New York, United States",a few days or more,0%,NaN,0.0,Harlem,1.0,1.0,"['email', 'phone', 'google', 'reviews', 'jumio...",1.0,1.0,"New York, NY, United States",Harlem,Harlem,Manhattan,New York,NY,10027,NEW YORK,"New York, NY",US,United States,40.80902,-73.94190,1,Apartment,Private room,2,1.0,1.0,1.0,Pull-out Sofa,"{""Cable TV"",Internet,Wifi,""Air conditioning"",K...",NaN,$150.00,NaN,NaN,$200.00,$75.00,2,$20.00,3,7,3,3,7,7,3.0,7.0,37 months ago,t,30,60,90,365,2019-09-13,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,0,f,strict_14_with_grace_period,1,1,1,0,1,0,NaN
1,3831,4869,2008-12-07,"New York, New York, United States",within an hour,92%,NaN,0.0,Clinton Hill,1.0,1.0,"['email', 'phone', 'reviews', 'kba']",1.0,1.0,"Brooklyn, NY, United States",Brooklyn,Clinton Hill,Brooklyn,Brooklyn,NY,11238,NEW YORK,"Brooklyn, NY",US,United States,40.68514,-73.95976,1,Guest suite,Entire home/apt,3,1.0,1.0,4.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",500.0,$89.00,$575.00,"$2,100.00",$500.00,NaN,1,$0.00,1,730,1,1,730,730,1.0,730.0,3 days ago,t,1,3,8,192,2019-09-13,279,67,2014-09-30,2019-08-29,90.0,9.0,9.0,10.0,9.0,10.0,9.0,f,NaN,NaN,0,f,moderate,0,0,1,1,0,0,4.62

In [159]:
data["host_is_superhost"].unique()

array([ 0.,  1., nan])

# Clean price data

In [ ]:
#Convert from dollars to float
data['price'] = data['price'].str.replace('$', '')
data['price'] = data['price'].str.replace(',', '')
data['price'] = data['price'].astype(float)

# One-hot code string data into int + vector

In [ ]:
#Look at number of unique values in each string column
#If there are too many distinct values, say more than 10, do not include it (explosion in columns otherwise)
strColumn = data.select_dtypes(include='object')
columnDrop = []
for name in strColumn:
    print(name,data[name].nunique())
    if data[name].nunique() > 10:
        columnDrop.append(name)
data = data.drop(columns=columnDrop,axis = 1)

In [ ]:
#Get list of columns with string data that we need to convert to int
#We then seperate each category into a different column.
#REVIEW :Need to make a call on how many text columns we can have since number of columns will explode fast
strColumn = data.select_dtypes(include='object')
for name in strColumn:
    print(name)
    one_hot = pd.get_dummies(data[name],prefix = name)  #Add original feature name as prefix
    # Drop column B as it is now encoded
    data = data.drop(name,axis = 1)
    # Join the encoded df
    data = data.join(one_hot)

In [ ]:
#See remaining nan -->Square feet has little so dont use those
data.isnull().sum().sort_values(ascending=False)

# 3) Apply machine learning (softly)

In [ ]:
data = data.dropna(axis='rows')  #REVIEW THIS DECISION - CAN IMPROVE THIS BY CALCULATING AVERAGES etc

X = data.drop(['price'], axis=1)
y = data['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = LinearRegression()
model.fit(X_train,y_train)

In [ ]:
model.score(X_test, y_test)